body{
    background-color: #5043A8;
}

.profileMain{
    margin: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.profileTitle{
    margin-top: 30px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.profileImg{
    width: 30%;
    height: auto;
    max-height: 144px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 5px #ffffff;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.textImg{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color:#2F2562;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.Username{
    display: flex;
    flex-direction: row;
}

.nameUser{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.userInput{
    text-align: center;
    height: 35px;
    width: 100%;
    margin-inline: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
}

.userInput:placeholder{
    text-align: center;
}

.userInput:focus{
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.userOption{
    max-width: 60%;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.saveButton{
    border: none;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    background-color: #2F2562;
    width: 65%;
    min-height: 50px;
    height: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 15px;
}

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 10px;
    min-height: 75%;
    height: auto;
    background-color: #f2f2f200;
    border-radius: 20px;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 85%;
    min-height: 50px;
    margin-right: 0px;
    height: auto;
    border: solid 3px #2F2562;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.accountInput{
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    text-align: start;
    font-weight: bold;
    border: none;
}

.accountInput:focus{
   border: none;
   border-style: none;
   outline: none;
}

.userAccoutName{
    color: white;
    font-weight: bolder;
}

.buttonAccount{
    color: white;
    background-color: #2F2562;
    width: 85%;
    min-height: 50px;
    height: auto;
    border: solid 3px #2F2562;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.iconInput{
    margin: auto;
    margin-inline: 10px;
    width: 10%;
    height: auto;
}

