@font-face {
    font-family: 'YourFontName';
    src: url('/fonts/sf-compact-font-family/SF-Compact-Display-Heavy.ttf');
}

main{
    font-family: 'YourFontName', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #5043A8;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textInfo{
    width: 85%;
    color: white;
}

.linkBack{
    color: white;
}

.imgRestore{
    width: 75px;
}