.userContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 100px;
    margin: 15px auto;
    background-color: #5143a8;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .userImg {
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  #infoUserDiv {
    height: 95%;
    margin-right: 10px;
    border-radius: 10px;
    flex: 1;
    background-color: #AC9FFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .row1 {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    min-height: 25px;
    background-color: rgb(255, 174, 81);
  }

  .row2 {
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    min-height: 25px;
  }
  
  .user-name {
    margin: auto;
    font-size: 20px;
    color: #ffffff;
  }
  
  .info{
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-inline: auto;
    justify-content: center;
  }